# Salesforce cache
.sf/
.sfdx/
.localdevserver/

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Node
node_modules/
npm-debug.log

# Salesforce DX
.sfdx/
.localdevserver/

# Misc
*.bak
